body {
  background-color: #f8f8f2;
  color: #282a36;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  border: 2px solid #44475a;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #c8102e;
  font-size: 2em;
}

.question p {
  font-weight: bold;
  color: #000000;
  font-size: 1.2em;
}

label {
  display: block;
  margin: 5px 0;
  font-size: 1.1em;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #025944;
  border: none;
  color: #ffffff;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #027a5c;
}

a {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #ff79c6;
  text-decoration: none;
  font-size: 1.2em;
}

a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}
